html{
    background: url("./assets/lord\ of\ the\ rings.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(15, 12, 9, 0.5);
    background-blend-mode: multiply;
}

.searchbar{
    display: flex;
   justify-content: center;
   padding-top: 50px;
   
}
.searchbar input{
    height: 40px;
    width: 300px;
}

.img{
    display: flex;
    justify-content: center;
}

.submit{
    background-color: darkblue;
    color: white;
    height: 50px;
    width: 70px;
}


.list{
    display: block;
    justify-content: center;
    color: white;
    font-size: 2em;
}


.button{
    background-color: darkblue;
    color: white;
    height: 50px;
    width: 70px;
    position: absolute;
}
